%html
  %head
    %title= @title
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %link{:rel=>"stylesheet", :href=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :href=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"}

    %body.text-muted
      %nav.navbar.navbar-default
        %div.container-fluid
          %div.navbar-header
            %a.navbar-brand{href: "/"} Supervisor
            %span.navbar-brand &raquo;
            %span.navbar-brand= @title
      = yield
